@use '../../styles/colors' as *;
@use '../../styles/sizes' as *;

button {
  padding: 20px 30px;
  background: linear-gradient(180deg, $blue 80%, $deep-blue 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: $white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    background: unset;
    background-color: $disabled;
    color: $dark-gray;
    cursor: not-allowed;
  }
}