@use '../../styles/colors' as *;
@use '../../styles/sizes' as *;

button {
  padding: 10px 20px;
  background-color: $active;
  color: $white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    background-color: $disabled;
    color: $dark-gray;
    cursor: not-allowed;
  }
}
