@use '../../styles/colors' as *;
@use '../../styles/sizes' as *;

.imageContainer {
  position: relative;
  display: inline-block;

  .image {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    object-fit: cover;
    cursor: pointer;
    border: 4px solid $white;
    transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
  }

  .selected {
    border: 4px solid $blue;
    transform: scale(1.1);
  }

  .sub {
    position: absolute;
    bottom: 20px;
    left: 5px;
    width: 77%;
    padding: 10px;
    background-color: rgba(40, 53, 39, 0.5);
    color: #fff;
    text-align: center;
    margin: 0;
  }

  .selectedSub {
    transform: scale(1.1);
    width: 77%;
    left: 9px;
  }

  @media (min-width: $medium) {
    .image {
      width: 200px;
      height: 200px;
    }

    .sub {
      width: 86%;
    }
  
    .selectedSub {
      width: 86%;
      left: 5px;
    }
  }
}

.imageContainer:hover {
  transform: scale(1.05);
}