$white: #fff;
$disabled: #ccc;
$active: #5bd8c7;
$warning: red;
$gray: #D3D3D3;
$dark-gray: #6e6d6d;
$light-purple: rgb(104, 53, 182);
$purple: #4b169d;
$deep-purple: #0b0a4c;
$blue: #00E6FF;
$deep-blue: #0053BC