@use '../../styles/colors' as *;
@use '../../styles/sizes' as *;


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto 30px;
  padding: 20px;
  border-radius: 10px;


  @media (min-width: $medium) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    gap: 30px;
  }

  @media (min-width: $large) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 600px;
  }
}

.imageContainer {
  padding: 10px;
  cursor: pointer;
  transition: border-color 0.3s;

  &.selected {
    border-color: $blue;
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}